nav {
  background: #0B080D;
}

.navbar {
  height: 88px;
  padding: 10px 60px;

}

.logo {
  height: 30px;
  width: 30px;
}

.logo__name {
  color: #dac2c2;
  text-shadow: 4px 5px 5px #b96baf;
  font-size: 30px;
}

.menu {
  display: flex;

}

.menu__item {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid transparent;
   padding: 5px 20px;  
  user-select:none;
}


.menu__item-link:focus-visible {
  outline: 1px solid;
}

.menu__item:hover {
  color: var(--hov-text);
}

.menu__item:last-child {
  margin-left: auto;
  border: 1px solid #22c795;
  border-radius: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #151316;
  color: var(--text-color);
  border: 1px solid #2d2c2e;
  min-width: 120px;
  padding: 10px 10px;
  margin-top: 5px;
  border-radius: 5px;
  line-height: 25px;
}

.dropdown-content li:hover {
  font-weight: bold;
  color: var(--hov-text);
}

.show {
  display: block;
}

:root {
  --text-color: #ffffff;
  --hov-text: #33d3a3;
}