@font-face {
    font-family: 'Codec Cold Trial Light';
    font-style: normal;
    font-weight: normal;
    src: local('Codec Cold Trial Light'), url('./assets/font/Codec-Cold-Light-trial.woff') format('woff');
}

.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    background: #0B080D;
    min-height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
/********************* hamburger*****************/


.checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

.header__burger {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-right: 10px;
    fill: #2D2C2E;
}


@media (max-width:1000px) {
    .header__burger {
        display: block;
        position: relative;
    }
}

.active {
    display: block;
    position: absolute;
}

.active .burger__rect--one {
    transform: rotate(45deg);
  
}
.active .burger__rect--two {
  opacity: 0;
}
.active .burger__rect--three {
  transform: rotate(-45deg);
}



/********************* hamburger*****************/

.logo {
    height: 30px;
    width: 30px;
}

.logo__name {
    color: #dac2c2;
    text-shadow: 4px 5px 5px #b96baf;
    font-size: 24px;
    display: flex;
    text-align: center;
}

.header__menu {
    display: flex;
    padding: 0px 60px;

}

.header__button {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

@media (max-width:1000px) {
    .menu__list {
        display: none;
        position: relative;
    }
}


.menu__item {
    margin: 10px;
}

.menu__item-link {
    font-family: 'Codec Cold Trial Light', sans-serif;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 4px;
    font-size: 14px;
    line-height: 24px;
    user-select: none;
}

.txt-btn {
    font-family: 'Codec Cold Trial Light', sans-serif;
    color: var(--primary-color);
    font-size: 14px;
    user-select: none;
    border: 1px solid var(--primary-color);
    padding: 15px 28px 13px;
    border-radius: 6px;
    text-align: center;
}

.txt-btn:focus-visible {
    border-color: #F4E026;
    outline: none;
    background-color: rgb(102, 221, 221, .05);
}

.txt-btn:hover {
    background-color: rgb(102, 221, 221, .05);
}

.menu__item-link:hover {
    color: var(--hov-text);
}

.menu__item-link:focus-visible {
    outline: 1px solid #F4E026;
}


/********************* DROPDOWN*****************/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #151316;
    color: var(--text-color);
    border: 1px solid #2d2c2e;
    min-width: 20px;
    padding: 10px 10px;
    margin-top: 5px;
    border-radius: 5px;
    line-height: 24px;
}

.dropdown-content li:hover {
    color: var(--hov-text);
}

.show {
    display: block;
}

/**************************************/

:root {
    --text-color: #ffffff;
    --hov-text: #a3af31;
    --primary-color: #6dd;
}